*
!.gitignore

!AAF/
!AAF/Core/
!AAF/Core/Src/
!AAF/Core/Src/main.c
!AAF/AAF.ioc

!DHT11/
!DHT11/Core/
!DHT11/Core/Src/
!DHT11/Core/Src/main.c
!DHT11/DHT11.ioc

!ESP-01/
!ESP-01/Core/
!ESP-01/Core/Src/
!ESP-01/Core/Src/main.c
!ESP-01/ESP-01.ioc

!ESP-01_SoftAP/
!ESP-01_SoftAP/Core/
!ESP-01_SoftAP/Core/Src/
!ESP-01_SoftAP/Core/Src/main.c
!ESP-01_SoftAP/ESP-01_SoftAP.ioc

!ESP-01_Station/
!ESP-01_Station/Core/
!ESP-01_Station/Core/Src/
!ESP-01_Station/Core/Src/main.c
!ESP-01_Station/ESP-01_Station.ioc

!LDR/
!LDR/Core/
!LDR/Core/Src/
!LDR/Core/Src/main.c
!LDR/LDR.ioc

!Light_Sensor/
!Light_Sensor/Core/
!Light_Sensor/Core/Src/
!Light_Sensor/Core/Src/main.c
!Light_Sensor/Light_Sensor.ioc

!OLED/
!OLED/Core/
!OLED/Core/Src/
!OLED/Core/Src/main.c
!OLED/OLED.ioc

!Open-Meteo/
!Open-Meteo/Core/
!Open-Meteo/Core/Src/
!Open-Meteo/Core/Src/main.c
!Open-Meteo/Open-Meteo.ioc

!Rain_Sensor/
!Rain_Sensor/Core/
!Rain_Sensor/Core/Src/
!Rain_Sensor/Core/Src/main.c
!Rain_Sensor/Rain_Sensor.ioc

!Smart_Irrigation/
!Smart_Irrigation/Core/
!Smart_Irrigation/Core/Src/
!Smart_Irrigation/Core/Src/main.c
!Smart_Irrigation/Smart_Irrigation.ioc

!Soil_Moisture_Sensor/
!Soil_Moisture_Sensor/Core/
!Soil_Moisture_Sensor/Core/Src/
!Soil_Moisture_Sensor/Core/Src/main.c
!Soil_Moisture_Sensor/Soil_Moisture_Sensor.ioc

!Time_API/
!Time_API/Core/
!Time_API/Core/Src/
!Time_API/Core/Src/main.c
!Time_API/Time_API.ioc

!UI/
!UI/Core/
!UI/Core/Src/
!UI/Core/Src/main.c
!UI/UI.ioc

!USBD/
!USBD/Core/
!USBD/Core/Src/
!USBD/Core/Src/main.c
!USBD/USB_DEVICE/
!USBD/USB_DEVICE/App/
!USBD/USB_DEVICE/App/usbd_cdc_if.c
!USBD/USBD.ioc





